.warning{
    background-color: #FCAF17 !important;
}

.footer-bg-1{
    background-color: #ffd37c !important;
}

.footer-bg-2{
    background-color: #ffd37c !important;
}

.btn-color{
    background-color: #D93920;
}

body{
    font-size: 1.2rem;
}

.social{
    width: 50px;
}